.padding
{
	padding: 15px 0 15px 0;
}
h1
{
  font-size: 35px;
  padding-top: 20px;
}

h2
{
	font-size: 30px;
}

.content p
{
	font-size: 24px;
	padding: 15px 0px;
	line-height: 1.5;
}

img
{
	width: 100%;
	border: 10px #000000 solid;
	display: block;
}

img:hover
{
	cursor: help;
}

.image-container
{
	width: 100%;
	position: relative;
}

.overlay
{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #008CBA;
}

.image-container:hover .overlay
{
	opacity: 1;
	border: 10px #000000 solid;
}

.text
{
	color : #ffffff;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.audio-control, .video-control
{
	-webkit-transition:all 0.5s linear;
	-moz-transition:all 0.5s linear;
	-o-transition:all 0.5s linear;
	transition:all 0.5s linear;
	-moz-box-shadow: 2px 2px 4px 0px #006773;
	-webkit-box-shadow:  2px 2px 4px 0px #006773;
	box-shadow: 2px 2px 4px 0px #006773;
	-moz-border-radius:7px 7px 7px 7px ;
	-webkit-border-radius:7px 7px 7px 7px ;
	border-radius:7px 7px 7px 7px ;
}

.audio-control:hover, .audio-control:focus, .audio-control:active,
.video-control:hover, .video-control:focus, .video-control:active
{
	-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);

	cursor: zoom-in;
}
.title, .image, .cat-content, .audio-control, .video-control, .audio, .video
{
	width: 50%;
	margin: auto;
}


@media screen and (min-width:320px) and (max-width: 765px)
{
	.audio-control, .video-control
	{
		width: 100%;
	}
}
