h1
{
  font-size: 35px;
  padding-top: 20px;
}

img
{
  border: 5px solid #000000;
}

#profile
{
  width: 200px;
}

.top-content
{
  width: 50%;
  margin: auto;
}

.left
{
  float: left;
}

.right
{
  float: right;
}

.position
{
  position: relative;
  top: 40px;
  padding-left: 15px;
  padding-top: 30px;
}

.para
{
  font-size: 24px;
}

.clear
{
  clear: both;
}

.content a:visited, a:active
{
	color: #FD0000;
}

.content a:hover
{
	cursor: pointer;
	color: #FBFAF0;
}

.content-title
{
  background-color: #000000;
  color: #ffffff;
}

.content-description
{
  background-color: #ffffff;
  color: #000000;
}


table
{
	width: 100%;
}

#bio td, #bio th
{
  padding-bottom: 20px;
}

.resume table, .resume th, .resume td
{
	border: 1px solid black;
	background-color: #02FE0B;
  color: #000000;
}

.resume caption
{
  display: table-caption;
  text-align: center;
	font-size: 28px;
	padding: 16px;
	color: #4FAB37;
}

.resume tr > :first-child
{
  background-color: #4FAB37;
  color: #ffffff;
}

/*
Media Queries
*/

@media screen and (max-width:1028px)
{
  .position
  {
    padding-left: 0px;
    top: 0px;
  }

}


@media screen and (min-width:320px) and (max-width: 765px)
{

  .top-content
  {
    margin-right: auto;
    margin-left: auto;
  }

  .size-pic
  {
    margin-left: auto;
    margin-right: auto;
  }

  .left
  {
    clear: both;
  }

  .para
  {
    line-height: 1.5;
  }

  .position
  {
    position: relative;
    top: 0px;
    padding-left: 0px;
  }

  .para
  {
    font-size: 100%;
  }

}
