h1
{
  font-size: 35px;
  padding-top: 20px;
}

img
{
  border: 5px solid #000000;
}

#profile
{
  width: 200px;
}

.left
{
  float: left;
}

.right
{
  float: right;
}

.position
{
  position: relative;
  top: 40px;
}

.para
{
  font-size: 24px;
}

.clear
{
  clear: both;
}

.content a:visited, a:active
{
	color: #FD0000;
}

.content a:hover
{
	cursor: pointer;
	color: #FBFAF0;
}

.content-title
{
  background-color: #000000;
  color: #ffffff;
}


/*
Media Queries
*/

@media screen and (max-width: 765px) {
  .position
  {
    position: static;
    top: 0px;
  }

  .left
  {
    clear: left;
  }
  .content
  {
    padding: 0px 0px 0px;
  }
  .wrapper
  {
    min-width: 320px;
    max-width: 765px;
    margin-left: auto;
    margin-right: auto;
  }
  .para
  {
    line-height: 1.5;
  }

}
