h1
{
  font-size: 35px;
  padding-top: 20px;
}

li
{
  margin-left: 20px;
}

img
{
  border: 5px solid #000000;
}

#profile
{
  width: 200px;
}

.left
{
  float: left;
}

.right
{
  float: right;
}

.position
{
  position: relative;
  top: 40px;
}

.para
{
  font-size: 24px;
}

.clear
{
  clear: both;
}

.content a:visited, a:active
{
	color: #FD0000;
}

.content a:hover
{
	cursor: pointer;
	color: #FBFAF0;
}

.content-title
{
  background-color: #000000;
  color: #ffffff;
}

.content-description
{
  background-color: #ffffff;
  color: #000000;
}

.size-pic
{
  width: 200px;
}

.size-content
{
  width: 300px;
}



/*
Media Queries
*/

@media screen and (max-width: 765px) {

  .position
  {
    position: static;
    top: 0px;
  }

  .para
  {
    line-height: 1.5;
  }

  .left
  {
    clear: both;
  }

}


@media screen and (min-width:320px) and (max-width: 765px)
{

  .top-content
  {
    margin-right: auto;
    margin-left: auto;
  }

  .size-pic
  {
    margin-left: auto;
    margin-right: auto;
  }

  .center
  {
    text-align: center;
  }
}
